<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title</title>


    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/tundra/tundra.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/nihilo/nihilo.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/soria/soria.css">
    <link href="~/Scripts/widget/css/InfoTemplateMap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script src="~/Scripts/widget/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript">
        var djConfig = {
            locale: "pt-br",
            parseOnLoad: false,
            packages: [
            {
                name: 'dnit',
                // location: ((location.pathname.replace(/\/[^/]+$/, '') + "/Scripts/js/dnit").replace("//", "/").replace("/Home", ""))
                location: ((location.pathname + "/Scripts/").replace("//", "/").replace("/Home/Index", ""))
            }], async: false
        };
        //global url do sistema


    </script>
    <script src="https://js.arcgis.com/3.16/"></script>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <script>

        require([
        "esri/map",
        "esri/InfoTemplate",
        "esri/layers/ArcGISDynamicMapServiceLayer",
        "esri/symbols/SimpleFillSymbol",
        "esri/symbols/SimpleLineSymbol",
        "esri/tasks/IdentifyTask",
        "esri/tasks/IdentifyParameters",
        "esri/dijit/Popup",
        "dojo/_base/array",
        "esri/Color",
        "dojo/dom-construct",
        "dojo/dom",
        "dnit/widget/InfoTemplateMap",
        "dojo/domReady!"
        ],
        function (
        Map,
        InfoTemplate,
        ArcGISDynamicMapServiceLayer,
        SimpleFillSymbol,
        SimpleLineSymbol,
        IdentifyTask,
        IdentifyParameters,
        Popup,
        arrayUtils,
        Color,
        domConstruct,
        dom,
        InfoTemplateMap
       ) {

            var identifyTask, identifyParams;

            var popup = new Popup({
                fillSymbol: new SimpleFillSymbol(SimpleFillSymbol.STYLE_SOLID,
                  new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
                    new Color([255, 0, 0]), 2), new Color([0, 0, 0, 0.25]))
            }, domConstruct.create("div"));

            if (Modernizr.draganddrop) {
                
            } else {
                alert("Seu Navegador pode não ser compatível com totas as funcionalidades desta aplicação, favor atualize! Use preferencialmente o google Chrome!");
            }

            var map;
            var snv = "http://servicos.dnit.gov.br/arcgis/rest/services/DNIT_Geo/SNV/MapServer/";
            var camada = new ArcGISDynamicMapServiceLayer(snv, { id: 'snv', visible: true });
            camada.setVisibleLayers([8, 9]);
            // code to create the map and add a basemap will go here
            map = new Map("mapDiv", {
                center: [-46, -16],
                zoom: 6,
                basemap: "topo",
            });
            map.addLayer(camada)
            map.on("load", mapReady);

            //var teste = new InfoTemplateMap({map:map}, dom.byId("qualquer"));
            //teste.startup();
            //map.on('click', function (event) { teste.setGeometry(event.mapPoint) });

            function mapReady() {
                map.on("click", executeIdentifyTask);
                //create identify tasks and setup parameters
                identifyTask = new IdentifyTask(snv);
                identifyParams = new IdentifyParameters();
                identifyParams.tolerance = 3;
                identifyParams.returnGeometry = true;
                identifyParams.layerIds = [8, 9];
                identifyParams.layerOption = IdentifyParameters.LAYER_OPTION_ALL;
                identifyParams.width = map.width;
                identifyParams.height = map.height;
            }
            var testeDivs = {};

            function executeIdentifyTask(event) {

                identifyParams.geometry = event.mapPoint;
                identifyParams.mapExtent = map.extent;

                var deferred = identifyTask
                  .execute(identifyParams)
                  .addCallback(function (response) {
                      //var totalPages = response.length;
                      //response is an array of identify result objects
                      //Let's return an array of features.
                      var teste = response;
                      console.log(teste, 'response');
                      var paginas = [];
                      var layers = {};

                      for (var i = 0; i < response.length; i++) {
                          var result = response[i];
                          var feature = result.feature;
                          var layerName = result.layerName;
                          var chaves = Object.keys(feature.attributes);

                          var corpo = ""
                          for (var ii = 0; ii < chaves.length; ii++) {
                            
                              corpo += "<tr > <td> " + chaves[ii] + "</td>";
                              corpo += " <td> " + feature.attributes[chaves[ii]] + " </td> ";
                              corpo += "</tr>";
                          };
                         

                          if (layers[layerName] === undefined) {
                              layers[layerName] = [];
                              layers[layerName].push(corpo)
                          }
                          else {
                              layers[layerName].push(corpo)
                          };


                      };
                      var layersKeys = Object.keys(layers)
                      var cabecalho = montaCabecalho(layersKeys, layersKeys.length);
                      var divCamada = {}

                      $("#myModal").modal();
                      
                      $("#modal-header").html(cabecalho);
                      //var tamanho = layers[selectCab.value].length
                      $('#modal-body').empty();

                      for (var i = 0; i < layersKeys.length; i++) {
                          var camada = layersKeys[i]

                          var tamanho = layers[camada].length
                          if (tamanho > 5) {
                              var visiblePages = 5;
                          }
                          else {
                              var visiblePages = tamanho;
                          }

                          var divName = camada.replace(/\s/g, "");
                          divCamada[divName] = camada
                          console.log(divName);
                          var divCont = document.createElement('div');
                          divCont.id = 'cont' + divName
                          divCont.className = 'content-popup'
                          document.getElementById("modal-body").appendChild(divCont);
                          var div = document.createElement('table');
                          div.id = divName;
                          div.className = "table table-striped"
                          document.getElementById(divCont.id).appendChild(div);
                          var div2 = document.createElement('ul');
                          div2.id = 'pag' + divName;
                          div2.className = 'pagination-sm'
                          document.getElementById(divCont.id).appendChild(div2);



                          $("#" + divCont.id).hide()
                          $('#pag' + divName).twbsPagination({
                              totalPages: tamanho,
                              visiblePages: visiblePages,
                              onPageClick: function (event, page) {
                                  var id = event.currentTarget.id.replace("pag", "");
                                  var nomeCamada = divCamada[id]
                                  $('#' + id).html(layers[nomeCamada][parseInt(page) - 1])
                                  
                              }

                          });


                      };

                      demoDisplay('cont' + selectCab.value.replace(/\s/g, ""))

                      $('#modal-header').on('change', function () {
                          demoDisplay('cont' + selectCab.value.replace(/\s/g, ""))

                      });

                      function mudarPagina() {
                          selectCab.value.replace(/\s/g, "").html(layers[selectCab.value][parseInt(page) - 1]);
                      };


                      $('#myModal').modal();
                      $('.modal-backdrop').remove();
                      $('#myModal').modal('show');
                      $("#myModal").draggable({
                          handle: ".modal-header"
                      });

                     
                      return arrayUtils.map(response, function (result) {
                          var feature = result.feature;
                          var layerName = result.layerName;

                          var Template = new InfoTemplate();

                          var Template = new InfoTemplate();
                          var chaves = Object.keys(feature.attributes);
                          Template.setContent(montaTemplate);
                          Template.setTitle(layerName);
                          feature.setInfoTemplate(Template);
                          var titulo = layerName;
                          teste = "<h4 class=\"modal-title\">" + layerName + "</h4>";

                          return feature;
                      });

                  });

                map.infoWindow.setFeatures([deferred]);
                map.infoWindow.show(map.mapPoint);


            };

            function demoDisplay(div) {
                $("#" + div).show();
                $("#modal-body").children().not("#" + div).hide()


            }

            function recriaPag(event, layers, page) {
                $('#paginador').twbsPagination({
                    totalPages: 5,
                    visiblePages: 5,
                    onPageClick: function (layers, page) {
                        $('#page-pagination').html(layers[page]);
                    }
                });
            };


            function montaTemplate(graphic) {
                var itens = Object.keys(graphic.attributes)
                var teste = "";
                for (var i = 0; i < itens.length; i++) {
                    var item = itens[i];
                    teste = teste + item + "; " + graphic.attributes[item] + "<br\>";
                }
                return teste;
            }
            function paginator(count) {

                var html = "";
                html += "<nav>";
                html += "<ul class=\"pagination\" max-size=\"2\">";
                html += "<li class=\"page-item\">";
                html += "<a class=\"page-link\" href=\"#\" aria-label=\"Previous\">";
                html += "<span aria-hidden=\"true\">&laquo;</span>";
                html += "<span class=\"sr-only\">Previous</span>";
                html += "</a>";
                html += "</li>";
                for (var i = 1; i <= count; i++) {
                    html += "<li class=\"page-item\"><a class=\"page-link\" href=\"#\">" + i + "</a></li>";
                }
                html += "<li class=\"page-item\">";
                html += "<a class=\"page-link\" href=\"#\" aria-label=\"Next\">";
                html += "<span aria-hidden=\"true\">&raquo;</span>";
                html += "<span class=\"sr-only\">Next</span>";
                html += "</a> </li>  </ul> </nav>";
                return html;
            }

            function montaCabecalho(layers, countCab) {
                var html = "<button type=\"button\" class=\"close\" data-dismiss=\"modal\" aria-label=\"Close\"><span aria-hidden=\"true\">&times;</span></button> <select class=\"form-control\" id =\"selectCab\" >";
                for (var i = 0; i < countCab; i++) {
                    html += "<option> " + layers[i] + " </option>";
                }
                html += "</select>";
                return html;
            };

        });
        

    </script>

</head>
<body>

    <div id="barra-brasil" class="barra-brasil">
        <a href="http://brasil.gov.br" style="background:#7F7F7F; height: 20px; padding:4px 0 4px 10px; display: block; font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a>
    </div>

    <div id="myModal"  class="modal" tabindex="-1" role="dialog" style="overflow:hidden; position:absolute;" draggable="true">
            <div class="modal-content">
                <div class="modal-header" id="modal-header"></div>
                <div class="modal-body" id="modal-body"></div>
            </div><!-- /.modal-content -->
    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("DNIT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </div>
            </div>
        </div>
        <p></p>*@

    <div id="myModal1" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Settings</h4>

                </div>
                <div class="modal-body">
                    <p>Settings</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <nav class="navbar navbar-default no-margin" style="background:#9ED1F7;border:1px solid black;top:2px">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-rocket fa-4"></i> <img src="~/Content/img/DNIT (122x32).png" /></a>
        </div>


        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <button class="navbar-toggle collapse in" data-toggle="collapse" id="menu-toggle-2">
                        <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                    </button>
                </li>
            </ul>
        </div><!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu" style="padding:0;">
                <li class="active">
                    <a href="#">
                        <img class="logoMenu" src="~/Content/img/Layers-icon.png" />
                        <span class="logoMenu">Camadas</span>
                    </a>


                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#">link1</a></li>
                        <li><a href="#">link2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span> Shortcut</a>
                    <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link1</a></li>
                        <li><a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-flag fa-stack-1x "></i></span>link2</a></li>

                    </ul>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cloud-download fa-stack-1x "></i></span>Overview</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-plus fa-stack-1x "></i></span>Events</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-youtube-play fa-stack-1x "></i></span>About</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-wrench fa-stack-1x "></i></span>Services</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-server fa-stack-1x "></i></span>Contact</a>
                </li>
            </ul>
        </div><!-- /#sidebar-wrapper -->
        <div id="mapDiv">

        </div>
    </div>



    @RenderBody()

    <div class="row">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
    </div>



    @*<div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                    <p>&copy; @DateTime.Now.Year - DNIT ASP.NET Application</p>
                </footer>
        </div>*@
    <script src="http://barra.brasil.gov.br/barra.js" type="text/javascript" defer async></script>
    <script src="~/Scripts/sidebar_menu.js" type="text/javascript" defer async> </script>
</body>
</html>
